*{
    box-sizing: border-box;
}
:root{
    --main: #1b72e8;
    --dark: #f8f9fa;
    --darker: #e5e5e5;
    --darkest: #051e34;
    --badge: #165bba;
}

/* .debug{
    border:1px dashed black;
    min-height:100px;
} */

.bg_darker{
    background-color: var(--darker);
}

.bg_darkest{
    background-color: var(--darkest);
}

.bg_main{
    background-color: var(--main);
}

.ms_badge{
    color:white;
    background-color: var(--badge);
}
/* web application sections */

body{
    height:100vh;
    overflow-y: hidden;
}

#site_header{
    height:60px;
}

#ms_dashboard{
    height:calc(100%-60px);
    overflow-y: auto;
}

/* left section */
#ms_sidebar{
    width:140px;
    flex-shrink: 0;
    height:calc(100%-60px);
    overflow-y:hidden;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--darkest);
    li{
        padding:3px;
    }
}

.ms_avatar{
    width:1.3rem;
}

/* right section */
#ms_rightbar{
    flex-grow: 1;
    background-color:var(--dark);
    overflow-y: auto;
}

#ms_top_banner{
    background-color: var(--main);
}

/* offcanvas */
#newStudent{
    width:40%;
    min-width:500px;
}

/* xl breakpoint */
@media screen and (max-width: 992px){
    #ms_sidebar{
        width:70px;
        
    }
}