:root{
    --main: #1b72e8;
    --dark: #f8f9fa;
    --darker: #e5e5e5;
    --darkest: #051e34;

}

.debug{
    border:1px solid black;
    /* min-height:50px; */
}

.bg_darker{
    background-color: var(--darker);
}

.bg_darkest{
    background-color: var(--darkest);
}

.bg_main{
    background-color: var(--main);
}

/* web application sections */

body{
    height:100vh;
}

#ms_sidebar{
    width:calc((100%/12)*1);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--darkest);

    li{
        padding:3px;
    }
}

#ms_main_application{
    
}